app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test:
  - name: voter
    configType: artillery
    configPath: Divyeshzb/newVotingApp/
app_uninstall:
  type: text
  content: |-
    # uninstall steps
    # for test
lastUpdatedBy: HARISH AGRAWAL
lastUpdatedOn: 2022-08-06T08:28:25.590Z
