app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: >
    #/bin/sh

    <<'###'

    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###



    HELM_OPTS=""

    helm upgrade newdm-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
  - name: ec
    configType: cypress
    configPath: service-test-suite/election-commission
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-07-21T05:40:33.394Z
