app_dependencies:
  type: text
  content: "#!/bin/sh

    export KUBECONFIG=/var/tmp/Roost/.kube/config.roostctl

    cd /var/tmp

    git clone https://github.com/bengrissinger/generic-bank.git


    \ "
app_deploy:
  type: text
  content: >
    #/bin/sh

    <<'###'

    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###



    HELM_OPTS=""

    helm upgrade new-demo-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS


    kubectl apply -n $ROOST_NAMESPACE -f ecserver/test/test.yaml


    kubectl apply -n $ROOST_NAMESPACE -f election-commission/ec.yaml
app_test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
  - name: ballot-new
    configType: artillery
    configPath: ballot/test/test.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-07-27T14:21:09.453Z
