app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |-
    #/bin/sh

    docker-compose -f docker-compose.yaml up -d
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: docker-compose.yaml
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-01-16T10:47:53.907Z
