app_dependencies:
  type: text
  content: |
    #!/bin/sh

    docker build -t ballot:latest ballot
    docker build -t voter:latest voter
    docker build -t ec:latest election-commission
    docker build -t ecserver:latest ecserver
app_deploy:
  type: text
  content: |+
    #/bin/sh
    docker-compose -f docker-compose.yaml up -d

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-12-20T05:08:20.600Z
