app_dependencies:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build
    docker build -t ballot:latest ballot
    docker build -t voter:latest voter
    docker build -t ec:latest election-commission
    docker build -t ecserver:latest ecserver
app_deploy:
  type: text
  content: |2-
     #/bin/sh
     docker-compose -f docker-compose.yaml up -d
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: docker-compose.yaml
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2023-01-24T09:45:06.620Z
