app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh

    echo "application manifest"

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-12-07T13:08:48.312Z
