app_dependencies:
  type: text
  content: '#/bin/sh'
app_deploy:
  type: text
  content: |-
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm upgrade test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

    docker compose -f ballot/ballot.yaml up -d
    docker compose -f ballot/ballot.yaml up -d
app_test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
  - name: election-commission
    configType: cypress
    configPath: service-test-suite/election-commission
app_uninstall:
  type: None
  content: ''
app_docker_compose: ballot/ballot.yamlwdfw
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2023-01-11T11:11:24.947Z
