app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE
    adasd
app_deploy:
  type: ArgoCD
  content: application.yaml
app_test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
app_uninstall:
  type: None
  content: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-13T03:36:56.165Z
