app_dependencies:
  type: None
  content: ''
app_deploy:
  type: text
  content: |

    HELM_OPTS=""
    helm upgrade andasd-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: None
  content: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-12T14:42:50.030Z
