app_dependencies:
  type: text
  content: |-

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |

    HELM_OPTS=""
    helm upgrade andasd-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
app_test: []
app_uninstall:
  type: None
  content: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2022-10-12T14:21:24.434Z
